
.boxprincipal {
    background-color: rgba(53,162,159, 0.91);
    width: 1038px;
    height: 1000px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    left: 12%;
    margin-top: 40px;
}